{% load static %}
      <script src="{% static 'shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'shop/vendor/glightbox/js/glightbox.min.js' %}"></script>
      <script src="{% static 'shop/vendor/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'shop/vendor/swiper/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'shop/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
      <script src="{% static 'shop/js/front.js' %}"></script>

    <script>

    function injectSvgSprite(path) {
    
        var ajax = new XMLHttpRequest();
        ajax.open("GET", path, true);
        ajax.send();
        ajax.onload = function(e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
        }
    }
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
    
    </script>